html, body {
	height: 100%;
	margin: 0;
}
.content {
	min-height: 100%;
	background-color: blue;
}
body {
	font-size: 100%;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url(dust_scratches.png);
}
header {
	position: sticky;
	top: 0;  
	font-family:"Georgia", "Times", "Times New Roman", serif;
}
h1 {
	font-size: 1.5em;
	padding: 10px;
	/*margin: 10px;*/
	float: left;
	background-color: yellow;
	/*background-image: url(dust_scratches.png);*/
	font-weight: bold;
}
nav {
	float: right;
	background-color: yellow;
}
nav a {
	float: right;
	display: block;
	padding: 12px;
	font-size: 1.25em;
	font-variant: small-caps;
	text-decoration: none;
}
nav a:hover {
	background-color: blue;
}

p {
	padding: 10px;
	margin: 10px;
	text-align: justify;
}

.content-inside {
	/*padding: 20px;*/
	padding-bottom: 50px;
}
article {
	padding: 10px;
	width: 60%;
	/*margin: auto;*/
	float: left;
	background-color: red;
}
aside {
	float:right;
	padding: 10px;
	width: 15%;
	background-color: green;
}
section {
	background-color: blue;
	padding: 20px;
	padding-bottom: 50px;
}
.logo {
	height: 50px;
	width: 50px;
}
footer {
	position: sticky;
	bottom: 0;
	padding: 5px;
	background-color: gray;
	height: 20px;
	margin-top: -20px;
}
footer p {
	text-align: center;
	font-style: italic;
	font-size: 0.75em;
	margin: 0px;
	padding: 4px;
	color: white;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}